<!DOCTYPE html>
<html lang="es-pe">
<head>
    <title>IAFAS|SISGEFIN</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de gestión financiera de la IAFAS de la Marina de Guerra del Perú">
    <meta name="keywords" content="IAFAS FOSMAR">
    <meta name="author" content="DAYMEVA TECHNOLOGIES EIRL">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index,follow" />

    <link rel="icon" type="image/x-icon" href="~/Riztie/Images/logoEmpresa.png">

    <script src="~/Riztie/Js/Design/jquery.min.js"></script>
    <script src="~/Riztie/Js/Design/popper.min.js"></script>
    <script src="~/Riztie/Js/Design/bootstrap.min.js"></script>
    <script src="~/Riztie/Js/Design/waves.min.js"></script>
    <script src="~/Riztie/Js/Design/jquery.slimscroll.js"></script>
    <script src="~/Riztie/Js/Design/modernizr.js"></script>
    <script src="~/Riztie/Js/Design/task-board.js"></script>
    <script src="~/Riztie/Js/Design/toastr.min.js"></script>


</head>

<body>

    @*@RenderSection("header")*@

    @RenderBody()

    @RenderSection("scripts", false)

</body>

</html>