@{
    ViewBag.Title = "Plan contable";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-file" aria-hidden="true"></i> PLAN CONTABLE EMPRESARIAL</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-8 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>CUENTA CONTABLE</h5>
                                </div>
                                <div class="card-block">
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <button class="input-group-inverse btn btn-primary" id="btnNuevo">Nuevo <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <div class="table-responsive" id="divLista"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>DETALLE DE LA CUENTA</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label id="lblBalance" class="control-label"></label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label id="lblCta" class="control-label"></label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label id="lblSubCta" class="control-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="divPopupContainer" style="overflow-y:auto;">
                            <div class="modal-dialog modal-md bg-personalizado" id="divPopupWindow" style="margin-top:30px;">
                                <div class="modal-content">
                                    <div id="divBarra" class="modal-header bg-personalizado" style="cursor:move">
                                        <h5 class="modal-title" id="tituloModal"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Nivel de cuenta</legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input optionsNivel" type="radio" data-id="B" name="optionsNivel" id="optBalance">
                                                                <label class="form-check-label" for="optBalance">Balance</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input optionsNivel" type="radio" data-id="C" name="optionsNivel" id="optCuenta">
                                                                <label class="form-check-label" for="optCuenta">Cuenta</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input optionsNivel" type="radio" data-id="S" name="optionsNivel" id="optSubCuenta">
                                                                <label class="form-check-label" for="optSubCuenta">Sub-Cuenta</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input optionsNivel" type="radio" data-id="R" name="optionsNivel" id="optRegistro">
                                                                <label class="form-check-label" for="optRegistro">Registro</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row mt-2 seccionNivelCuenta" id="seccionBalance">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Nivel Balance</label>
                                                <input type="hidden" class="control-form Popup" id="txtIdRegistro">
                                                <select id="cboBalance" class="SelectSearch control-form Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row mt-2 seccionNivelCuenta" id="seccionCta">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Nivel Cuenta</label>
                                                <select id="cboCta" class="SelectSearch control-form Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row mt-2 seccionNivelCuenta" id="seccionSubCta">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Nivel Sub Cuenta</label>
                                                <select id="cboSubCta" class="SelectSearch control-form Popup"></select>
                                            </div>
                                        </div>
                                        <div class="row mt-2 ">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Cuenta Contable</label>
                                                <label id="lblCuentaContable" class="control-label"></label>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Divisionaria</label>
                                                <input type="text" autocomplete="off" id="txtDivisionaria" class="control-form Reque Popup" onkeypress="soloNumeros(event)" ondrop="return false;" onpaste="return false;" />
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label">Nombre</label>
                                                <input type="text" autocomplete="off" id="txtNombre" class="control-form Reque Popup" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <fieldset class="fieldset">
                                                    <legend class="legend">Tipo de cuenta</legend>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="A" name="optionsTipo" id="optActivo" checked>
                                                        <label class="form-check-label" for="optActivo">
                                                            Activo
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="P" name="optionsTipo" id="optPasivo">
                                                        <label class="form-check-label" for="optPasivo">
                                                            Pasivo
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="E" name="optionsTipo" id="optResultado">
                                                        <label class="form-check-label" for="optResultado">
                                                            Resultado
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="N" name="optionsTipo" id="optNaturaleza">
                                                        <label class="form-check-label" for="optNaturaleza">
                                                            Naturaleza
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="F" name="optionsTipo" id="optFuncion">
                                                        <label class="form-check-label" for="optFuncion">
                                                            Función
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="O" name="optionsTipo" id="optOrden">
                                                        <label class="form-check-label" for="optOrden">
                                                            Orden
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input optionsTipo" type="radio" data-id="M" name="optionsTipo" id="optMayor">
                                                        <label class="form-check-label" for="optMayor">
                                                            Mayor
                                                        </label>
                                                    </div>
                                                </fieldset>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelar" class="btnCancelarForm" title="Cancelar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cancelar</button>
                                        <button id="btnGuardar" class="btnGuardarForm bg-customer" title="Guardar datos"><span class="fa fa-save"></span>&nbsp;Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppContabilidad.js"></script>