
@{
    ViewBag.Title = "CuentaContable";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3><i class="fa fa-file" aria-hidden="true"></i> PLAN CONTABLE EMPRESARIAL</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-8 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>CUENTA CONTABLE</h5>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive" id="divLista"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>DETALLE DE LA CUENTA</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label id="lblBalance" class="control-label"></label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label id="lblCta" class="control-label"></label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label id="lblSubCta" class="control-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script src="~/Riztie/Js/App/AppPatrimonio.js"></script>

